<% @courses.each do |course| %>
  <div class="container">
  <br><br><br><br>
    <div>Course Number:<%= course.courseNum %></div>
    <div>Course Name: <%= course.name %></div>
    <div>Department id: <%= course.department %></div>
  </div>
<% end %>