<style>
  .jumbotron {
    background-color: white;
    margin: 10px 0px 15px 0px;
    box-shadow: 3px 3px 10px black;
    padding: 10px;
    color: #B1810B;
  }
</style>

<div class="container">
	<div class="jumbotron">
		<h1 style="color:black">Privacy Policy</h1>
		<h3>
			Your name is not stored anywhere on our site nor in our databases.<br><br> 

			Your email is used to tie reviews to an individual for metrics reasons and to keep users from abusing the site.<br><br>

			We do not give out emails or use them for any purpose outside of this website.<br><br>

			This site is designed to be anonymous. Enjoy!
		</h3>
	</div>
</div>