<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
<<<<<<< HEAD
=======

<!-- Only show the Profile menu when logged in -->
<% if user_signed_in? %>
<li><%#= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
<% else %>
  <li><%= link_to "Sign up", new_user_registration_path %></li>
  <li><%= link_to "Sign in", new_user_session_path %></li>
<% end %>
>>>>>>> 5dfe29ecaf98178fff1fefefbf97de53139d13a2
