<h1> 
	New Review for <%= @cid.name %> (<%= @cid.fullName%>)
</h1>

<% if Review.find_by_course_id_and_user_id(@cid.id, current_user.id) then %>
	<h4>
		You already wrote a review for this class
	</h4>
<% else %>
	<%= render 'form' %>
<% end %>
 
<%= link_to 'Back', course_path(@cid) %>
