<style>
	li {
		display: inline;
		margin-right: 10px;
	}
</style>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
  	<ul class="navbar-nav">
        <li><a href="/pages/about">About</a></li>
        <li><a href="/ContactUs">Contact Us</a></li>
        <li><a href="/pages/privacypolicy">Privacy Policy</a></li>
    </ul>
    </div>
  </div>
</nav>