<style>
	li {
		display: inline;
		margin-right: 10px;
	}
  .foot {
    background-color: black;
    color: #B1810B;
    height: 30px;
  }
  .navbar-fixed-bottom {
    height: 20px !important;
    margin: 0% 5% 0% 5% !important;
  }
</style>
<nav class="navbar-s navbar-fixed-bottom foot">
  <div class="container-fluid">
  	<ul class="navbar-nav">
        <li><a href="/pages/about" style="color: #B1810B;">About</a></li>
        <li><a href="/ContactUs" style="color: #B1810B;">Contact Us</a></li>
        <li><a href="/pages/privacypolicy" style="color: #B1810B;">Privacy Policy</a></li>
    </ul>
    </div>
  </div>
</nav>